 body{
	background-image:url("bg.jpg.jpg");
	margin:0;
	padding:0 10%;
	 }
	 
section.header-section{
	  background-color:#ffffff;
	  min-height:50px;	
	  padding:0 10px;
	  }
	  
	.website-img{
	  float:left;
	  display:inline-block;
	 }
	.website-img img{
		height:50px;
	}
	
	.website-nav{
	 float:right;
	 display:inline-block;
	 height:50px;
	 text-transform:uppercase;
	 }
	 nav{
		 color:#008080;
		 padding:10px;
	 }
	 a{
		 text-decoration:none;
		 padding-left:0 10px;
		 padding-right:10px;
		 font-weight:bold;
	 }
	 
	
	.h31{
		text-align:center;
		margin-top:50px;
		margin-bottom:4px;
		font-size:20px;
		color:white;
	
	}
	.h32{
		text-align:center;
		padding-top:0px
		margin-top:0px;
		font-size:20px;
		color:white;
	}
		
	h1{
		font-size:30px;
		padding:0px;
		border:0px;
		margin-top:0px;
		margin-bottom:9px;
		font-family:Helvetica;
	}
	h2{
		color:white;
		padding:0px;
		border:0px;
		margin-top:1px;
		font-family:Helvetica;
	}
	
	.left{
		float:left;
		display:inline-block;
		width:40%;
	}
	p{
		font-style:"times new roman";
		color:#009999;
		
	}
	ul{
		color:#009999;
		margin-bottom:50px;
	}
	button{
		padding:10px 35px;
		border-width:0px;
		border-style:normal;
		border-color:none;
		background-color:#007070;
		color:rgba(00,40,40);
		box-shadow:5px 5px 5px #007070;
	}
	.divfirst{
		float:right;
		width:60%;
		position:relative;
		display:inline-block;
	}
	.img{
		height:400px;
		float:right;
		display:inline-block;
	}
		